CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_TINYUSB_DESC_PRODUCT_STRING="VoidLink T-Dongle USB Adapter"
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="ITSZ"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_PARTITION_TABLE_SINGLE_APP=y
